
body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/* Added padding-top to the section content so that the navbar didn't cover it*/
section {
  margin: 0;
  width: 100%;
  padding-top: 100px;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}
/* Green background */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* Blue background */
.element_fancy {
  background-color: blue;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
